/* login */
body {
	padding-top: 90px;
}
.login-parent{
	background-color:#f09f0a;
}

.Login-form {
	height:500px;
	border-radius: 5rem 0 5rem 5rem;
	background-color: #452f06;
}
.login-inner {
	background-color: #594010;
	color: wheat;
	width: 50%;
}